.home-room-layout {
    padding: 60px 0;
    background: #C0C0C0;
    margin-bottom: 60px;
    &-image {
        img {
            max-width: 300px;
            max-height: 300px;
        }
    }
    &-label {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 30px 30px 0 30px;
        display: block;
        text-align: center;
    }
    &-products {
        padding: 30px 30px 0 30px;
        max-width: 500px;
        margin: 0 auto;
        &-product {
            border-top: 1px solid gray;
            padding: 5px 0;
            &:last-child {
                border-bottom: 1px solid gray;
            }
            &-index {
                height: 40px;
                width: 40px;
                margin-right: 40px;
                border: 1px solid black;
                background: #fff;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
            &-icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
            }
            &-name {
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                vertical-align: middle;
                height: 40px;
                width: calc(100% - 120px);
                text-align: right;
            }
        }
    }
}

@media screen and( min-width: 768px) {
    .home-room-layout {
        &-image {
            margin: 0 auto;
        }
    }
}

@media screen and( min-width: 1024px) {
    .home-room-layout {
        padding: 60px 0;
        background: #C0C0C0;
        margin-bottom: 60px;
        &-image {
            max-width: 500px;
        }
        &-label {
            font-size: 25px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding: 0;
            text-align: left;
        }
        &-products {
            padding: 0;
            &-product {
                border-top: 1px solid gray;
                padding: 5px 0;
                &:last-child {
                    border-bottom: 1px solid gray;
                }
                &-index {
                    height: 40px;
                    width: 40px;
                    margin-right: 40px;
                    border: 1px solid black;
                    background: #fff;
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
                &-icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                }
                &-name {
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                    vertical-align: middle;
                    height: 40px;
                    width: calc(100% - 120px);
                    text-align: right;
                }
            }
        }
    }
}