.home-dinnerroom {
    &-banner {
        margin-bottom: 60px;
        &-right,
        &-left {
            height: 100%;
        }
        &-left {
            position: relative;
            &-info {
                padding: 30px;
                &-label {
                    font-size: 35px;
                    text-transform: uppercase;
                }
                &-collectionname {
                    font-size: 70px;
                    text-transform: uppercase;
                    line-height: 1em;
                    margin-bottom: 30px;
                }
                &-description {
                    font-weight: 14px;
                    line-height: 1.6em;
                    text-align: justify;
                }
                &-viewmorebtn {
                    font-size: 13px;
                    color: #FFF;
                    background: black;
                    padding: 10px 20px;
                    font-weight: bold;
                    display: block;
                    &:hover {
                        background: lighten($color: #000000, $amount: 10);
                        color: darken($color: #fff, $amount: 10)
                    }
                }
            }
        }
        &-right {
            position: relative;
            &-info {
                top: 15%;
                left: 15%;
                transform: translateY(-15%) translateX(-15%);
                position: absolute;
                text-align: center;
                &-label {
                    font-size: 25px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                &-description {
                    font-weight: 14px;
                    line-height: 1.6em;
                    margin: 0 auto;
                    max-width: 250px;
                    color: #515151;
                }
            }
        }
    }
    &-product {
        margin-bottom: 40px;
        &-title {
            text-transform: uppercase;
            font-size: 20px;
            margin-left: 5px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    &-gifts {
        margin-bottom: 40px;
        &-left,
        &-right {
            position: relative;
            text-align: center;
            &-info {
                position: absolute;
                &-label {
                    font-size: 25px;
                    text-transform: uppercase;
                    display: block;
                    line-height: 1;
                }
                &-name {
                    font-size: 60px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: block;
                    line-height: 1.2;
                }
            }
        }
        &-left {
            margin-bottom: 15px;
            &-info {
                top: 20px;
                right: 20px;
            }
        }
        &-right {
            &-info {
                background: rgba(0, 0, 0, .5);
                padding: 5px;
                bottom: 40px;
                right: 60px;
                &-label {
                    color: #fff;
                }
                &-name {
                    line-height: .8;
                    color: #fff;
                }
                &-sub {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .home-dinnerroom {
        &-banner {
            &-left {
                &-info {
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 200px;
                    text-align: right;
                    padding: 0;
                    &-collectionname {
                        font-size: 46px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-dinnerroom {
        &-banner {
            margin-bottom: 60px;
            &-right,
            &-left {
                height: 100%;
            }
            &-left {
                position: relative;
                img {
                    height: 100%;
                }
                &-info {
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 200px;
                    text-align: right;
                    padding: 0;
                    &-label {
                        font-size: 25px;
                        text-transform: uppercase;
                    }
                    &-collectionname {
                        font-size: 40px;
                        text-transform: uppercase;
                        line-height: 1em;
                        margin-bottom: 10px;
                    }
                    &-description {
                        font-weight: 12px;
                        line-height: 1.4em;
                        text-align: justify;
                    }
                    &-viewmorebtn {
                        font-size: 13px;
                        color: #FFF;
                        background: black;
                        padding: 10px 20px;
                        font-weight: bold;
                        display: block;
                        &:hover {
                            background: lighten($color: #000000, $amount: 10);
                            color: darken($color: #fff, $amount: 10)
                        }
                    }
                }
            }
            &-right {
                position: relative;
                &-info {
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    &-label {
                        font-size: 25px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &-description {
                        font-weight: 14px;
                        line-height: 1.6em;
                        margin: 0 auto;
                        max-width: 250px;
                        color: #515151;
                    }
                }
            }
        }
        &-product {
            margin-bottom: 40px;
            &-title {
                text-transform: uppercase;
                font-size: 26px;
                margin-left: 5px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
        &-gifts {
            &-left,
            &-right {
                &-info {
                    &-label {
                        font-size: 25px;
                        line-height: 1;
                    }
                    &-name {
                        font-size: 60px;
                        line-height: 1.2;
                    }
                }
            }
            &-left {
                margin-bottom: 0;
                &-info {
                    top: 50px;
                    right: 50px;
                }
            }
            &-right {
                &-info {
                    background: transparent;
                    padding: 0;
                    bottom: 40px;
                    right: 60px;
                    &-label {
                        color: #000;
                    }
                    &-name {
                        line-height: .8;
                        color: #000;
                    }
                    &-sub {
                        color: #000;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    .home-dinnerroom {
        &-banner {
            margin-bottom: 60px;
            &-right,
            &-left {
                height: 100%;
            }
            &-left {
                position: relative;
                img {
                    height: 100%;
                }
                &-info {
                    position: absolute;
                    right: 70px;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 200px;
                    text-align: right;
                    padding: 0;
                    &-label {
                        font-size: 35px;
                        text-transform: uppercase;
                    }
                    &-collectionname {
                        font-size: 70px;
                        text-transform: uppercase;
                        line-height: 1em;
                        margin-bottom: 30px;
                    }
                    &-description {
                        font-weight: 14px;
                        line-height: 1.6em;
                        text-align: justify;
                    }
                    &-viewmorebtn {
                        font-size: 13px;
                        color: #FFF;
                        background: black;
                        padding: 10px 20px;
                        font-weight: bold;
                        display: block;
                        &:hover {
                            background: lighten($color: #000000, $amount: 10);
                            color: darken($color: #fff, $amount: 10)
                        }
                    }
                }
            }
            &-right {
                position: relative;
                &-info {
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    &-label {
                        font-size: 25px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &-description {
                        font-weight: 14px;
                        line-height: 1.6em;
                        margin: 0 auto;
                        max-width: 250px;
                        color: #515151;
                    }
                }
            }
        }
        &-product {
            margin-bottom: 40px;
            &-title {
                text-transform: uppercase;
                font-size: 26px;
                margin-left: 5px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
        &-gifts {
            &-left,
            &-right {
                &-info {
                    &-label {
                        font-size: 25px;
                        line-height: 1;
                    }
                    &-name {
                        font-size: 60px;
                        line-height: 1.2;
                    }
                }
            }
            &-left {
                margin-bottom: 0;
                &-info {
                    top: 50px;
                    right: 50px;
                }
            }
            &-right {
                &-info {
                    background: transparent;
                    padding: 0;
                    bottom: 40px;
                    right: 60px;
                    &-label {
                        color: #000;
                    }
                    &-name {
                        line-height: .8;
                        color: #000;
                    }
                    &-sub {
                        color: #000;
                    }
                }
            }
        }
    }
}