.home-products-slider {
    padding: 0 20px;
    /* the slides */
    .slick-slide {
        padding: 0 5px;
    }
    .slick-disabled {
        opacity: .2;
    }
    .slick-prev {
        left: -3px;
        z-index: 1;
        background-image: url(/images/icon-left.png);
        background-size: 16px;
        background-repeat: no-repeat;
        width: 20px;
        height: 30px;
        &::before {
            content: "";
        }
    }
    .slick-next {
        right: -5px;
        z-index: 1;
        background-image: url(/images/icon-right.png);
        background-size: 16px;
        background-repeat: no-repeat;
        width: 20px;
        height: 30px;
        &::before {
            content: "";
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-products-slider {
        padding: 0;
        /* the slides */
        .slick-slide {
            padding: 0 5px;
        }
        .slick-prev {
            left: -30px
        }
        .slick-next {
            right: -25px;
        }
    }
}